.right {
  float: right;
  margin-top: 10px;
}

// Using important to override material ui inline styles
.content {
  width: 850px !important;
  max-width: none !important;
  transform: none !important;
}