@import "../../res/stylesheets/font";

.listItem {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid grey;
}

.listItem:last-child {
  border-bottom: none;
}

.image {
  width: 70px;
  height: 70px;
  margin: 5px;
}

.content {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

.content > p {
  font-family: $roboto;
  font-size: 16px;
}

.right {
  height: 100%;
  float: right;
  display: inline-block;
  vertical-align: middle;
}