$grey: #7c7c7c;
$light-grey: #cccccc;
$very-light-grey: #e1e1e1;
$extra-light-grey: #efefef;
$ultra-light-grey: #fbfbfb;
$extra-dark-grey: #333;
$black: #000000;
$turquoise: #00bcd4;

/*
 *  An :export block defines the symbols
 *  that are going to exported to the consumer.
 *  All these variables will be visible in the component
 *  that imports the file
*/

:export {
  grey: $grey;
  lightGrey: $light-grey;
  veryLightGrey: $very-light-grey;
  extraLightGrey: $extra-light-grey;
  ultraLightGrey: $ultra-light-grey;
  extraDarkGrey: $extra-dark-grey;
  black: $black;
  turquoise: $turquoise;
}